:root {
    --primary-color-gray: rgba(128, 128, 128, 0.25);
    --primary-color-black: black;
    --primary-color-white: white;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;     
}

body {
    font-family: Roboto, Arial;
}