                        /* Header */
.header__order header {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: var(--primary-color-gray);
    margin-bottom: 30px;
}

/* Left section */
.header__order header .left__section {
    width: 100px;
    height: 100%;
}

.header__order header .left__section img{
    width: 100%;
    height: 100%;
    transition: 0.25s;
    cursor: pointer;
}

.header__order header .left__section img:hover{
    opacity: 0.6;
}

.header__order header .left__section img:active{
    opacity: 0.3;
}

/* Right section */
.header__order header .center__section {
    display: flex;
    flex-direction: row;
    align-items: center;  
    flex: 1;
    max-width: 700px; 
    height: 43px;
}

.header__order header .center__section .container__icon__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 12px;
    transform: translate(42px, 0px);
}

.header__order header .center__section .container__icon__search:hover {
    background: rgba(0, 0, 0, 0.09);
}

.header__order header .center__section input {
    flex: 1;
    width: 0;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 45px;
    padding-right: 20px;
    color: var(--primary-color-black);
    font-size: 19px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 80px;
}

.header__order header .right__section {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.header__order header .right__section:hover {
    opacity: 0.7;
}

.header__order header .right__section:active {
    opacity: 0.4;
}

.header__order header .right__section p {
    font-size: 18px;
}

.header__order header .right__section i {
    font-size: 20px;
    margin: 0 7px;
}

                        /* nav main */
.container__sidebar__main__order {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 5px;
    margin-bottom: 100px;
}
                            /* nav */
.container__sidebar__main__order nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.container__sidebar__main__order nav .container__nav {
    width: 100%;
    height: 100px;
    background: var(--primary-color-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.25s;
}

                            /* nav main */

                            /* nav */
.container__sidebar__main__order nav .position {
    background: var(--primary-color-gray);
}

.container__sidebar__main__order nav span .container__nav{
    background: var(--primary-color-gray);
}

.container__sidebar__main__order .container__nav{
    text-decoration: none;
    color: var(--primary-color-black);
}

.container__sidebar__main__order nav .container__nav:hover {
    background: var(--primary-color-gray);
}

                            /* Main */
.container__sidebar__main__order main {
    margin-left: 16px;
    padding: 0 12px;
}

.container__sidebar__main__order main .flex__order {
    display: flex;
    flex-direction: column;
}

.container__sidebar__main__order main h1 {
    margin-bottom: 18px;
}

.container__sidebar__main__order main .flex__order .column__name {
    display: grid;
    grid-template-columns: 0.8fr 1.3fr 0.6fr 1fr 1fr 0.4fr;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    font-weight: bold;
    margin-bottom: 15px;
}

.container__sidebar__main__order main .flex__order .information {
    display: grid;
    grid-template-columns: 0.8fr 1.3fr 0.6fr 1fr 1fr 0.4fr;
    border: 1px solid var(--primary-color-black);
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.4s;
}

.container__sidebar__main__order main .flex__order .information .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.container__sidebar__main__order main .flex__order .information .container select {
    width: 100px;
    height: 30px;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.container__sidebar__main__order main .flex__order .information .container i {
    width: 50px;
    margin-left: 9px;
    transition: 0.25s;
}

.container__sidebar__main__order main .flex__order .information .container i:hover {
    color: gray;
}

.container__sidebar__main__order main .flex__order .information .container i:active {
    opacity: 0.3;
}

.container__sidebar__main__order main .flex__order .information .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__sidebar__main__order main .flex__order .information .profile .profile__picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.container__sidebar__main__order main .flex__order .information .profile .profile__picture img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.container__sidebar__main__order main .flex__order .information p span {
    text-decoration: underline;
}

                        /* Page number */   
.container__sidebar__main__order .page__number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container__sidebar__main__order .page__number span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--primary-color-gray);
    cursor: pointer;
    transition: 0.25s;
}

.hide {
    display: none;
}

                                        /* Detail Order */
.modal__detail__Order {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0 ,0, 0.6);
}

.modal__detail__Order .modal__inner__detail__Order {
    width: 670px;
    position: relative;
    margin: auto;
    top: 30%;
    background: var(--primary-color-white);
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.2s linear;
}

.modal__detail__Order .modal__inner__detail__Order .modal__header__detail__Order {
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    padding: 3px 12px;
    text-align: right;
}

.modal__detail__Order .modal__inner__detail__Order .modal__header__detail__Order i {
    cursor: pointer;
    font-size: 20px;
    transition: 0.25s;
}

.modal__detail__Order .modal__inner__detail__Order .modal__header__detail__Order i:hover {
    opacity: 0.7;
}

.modal__detail__Order .modal__inner__detail__Order .modal__header__detail__Order i:active {
    opacity: 0.3;
}

.modal__detail__Order .modal__inner__detail__Order .modal__body__detail__Order {
    padding: 3px 12px;
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}

.modal__detail__Order .modal__inner__detail__Order .modal__body__detail__Order .column__name {
    font-weight: bold;
    display: grid;
    grid-template-columns: 0.6fr 0.7fr 1.2fr 0.8fr 0.5fr;
    padding: 6px 0;
    font-size: 18px;
}

.modal__detail__Order .modal__inner__detail__Order .modal__body__detail__Order .container {
    display: grid;
    grid-template-columns: 0.6fr 0.7fr 1.2fr 0.8fr 0.5fr;
    padding: 6px 0;
    font-size: 18px;
    border-bottom: 1px solid var(--primary-color-black);
}

.modal__detail__Order .modal__inner__detail__Order .modal__body__detail__Order .container span {
    text-decoration: underline;
}

.modal__detail__Order .modal__inner__detail__Order .modal__footer__detail__Order {
    padding: 5px 12px;
    text-align: center;
}

.modal__detail__Order .modal__inner__detail__Order .modal__footer__detail__Order button {
    margin-bottom: 12px;
    padding: 12px 40px;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 9px;
}

.modal__detail__Order .modal__inner__detail__Order .modal__footer__detail__Order button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.modal__detail__Order .modal__inner__detail__Order .modal__footer__detail__Order button:active {
    opacity: 0.7;
}

@keyframes modalShow {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 30%;
        opacity: 1;
    }
}