.modal__Signup {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0, 0.6);
}

.modal__inner__Signup {
    width: 400px;
    position: relative;
    background: white;
    top: 20%;
    left: 35%;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 25px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
    z-index: 100;
    animation: modalShow 0.3s linear;
}

.modal__header__Signup {
    padding: 5px;
    position: relative;
    margin-bottom: 12px;
}

.modal__header__Signup i {
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 14px;
    transition: 0.25s;
    cursor: pointer;
}

.modal__header__Signup i:hover {
    opacity: 0.7;
}

.modal__header__Signup i:active {
    opacity: 0.3;
}

.modal__body__Signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__body__Signup h1 {
    margin-bottom: 6px;
}

.modal__body__Signup .modal__container__input__icon {
    margin-bottom: 4px;
}

.modal__body__Signup .modal__container__input__icon input {
    height: 32px;
    width: 300px;
    margin: 10px 5px;
    border-radius: 7px;
    color: 14px;
    border: 1px solid black;
    padding-left: 9px;
}

.modal__body__Signup .modal__container__checkbox__p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.modal__body__Signup .modal__container__checkbox__p p{
    font-size: 13px;
    margin-left: 6px;
}

.modal__body__Signup .modal__container__checkbox__p input {
    cursor: pointer;
}

.modal__body__Signup .modal__container__checkbox__p span {
    color: gray;
    transition: 0.25s;
    cursor: pointer
}

.modal__body__Signup .modal__container__checkbox__p span:hover {
    opacity: 0.8;
}

.modal__body__Signup .modal__container__checkbox__p span:active {
    opacity: 0.4;
}

.modal__footer__Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.modal__footer__Signup button {
    width: 130px;
    height: 45px;
    background: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    transition: 0.25s;
    cursor: pointer;
    font-size: 17px;
}

.modal__footer__Signup button:hover {
    transform: scale(0.9);
}

.modal__footer__Signup button:active {
    opacity: 0.5;
}

.hide {
    display: none;
}

@keyframes modalShow {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 20%;
        opacity: 1;
    }
}