                        /* Header */
.header__statistical header {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: var(--primary-color-gray);
    margin-bottom: 30px;
}

/* Left section */
.header__statistical header .left__section {
    width: 100px;
    height: 100%;
}

.header__statistical header .left__section img{
    width: 100%;
    height: 100%;
    transition: 0.25s;
    cursor: pointer;
}

.header__statistical header .left__section img:hover{
    opacity: 0.6;
}

.header__statistical header .left__section img:active{
    opacity: 0.3;
}

/* Right section */
.header__statistical header .center__section {
    display: flex;
    flex-direction: row;
    align-items: center;  
    flex: 1;
    max-width: 700px; 
    height: 43px;
}

.header__statistical header .center__section .container__icon__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 12px;
    transform: translate(42px, 0px);
}

.header__statistical header .center__section .container__icon__search:hover {
    background: rgba(0, 0, 0, 0.09);
}

.header__statistical header .center__section input {
    flex: 1;
    width: 0;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 45px;
    padding-right: 20px;
    color: var(--primary-color-black);
    font-size: 19px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 80px;
}

.header__statistical header .right__section {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.header__statistical header .right__section:hover {
    opacity: 0.7;
}

.header__statistical header .right__section:active {
    opacity: 0.4;
}

.header__statistical header .right__section p {
    font-size: 18px;
}

.header__admin header .right__section i {
    font-size: 20px;
    margin: 0 7px;
}

                        /* sidebar main */
.container__sidebar__main__statistical {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 5px;
    margin-bottom: 100px;
}

                            /* nav */
.container__sidebar__main__statistical nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.container__sidebar__main__statistical nav .container__nav {
    width: 100%;
    height: 100px;
    background: var(--primary-color-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.25s;
}

.container__sidebar__main__statistical nav .position {
    background: var(--primary-color-gray);
}

.container__sidebar__main__statistical nav span .container__nav{
    background: var(--primary-color-gray);
}

.container__sidebar__main__statistical .container__nav{
    text-decoration: none;
    color: var(--primary-color-black);
}

.container__sidebar__main__statistical nav .container__nav:hover {
    background: var(--primary-color-gray);
}

                            /* Main */
.container__sidebar__main__statistical main {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 20px;
}

                            /* Head main */
.container__sidebar__main__statistical main .head__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.container__sidebar__main__statistical main .head__main .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.container__sidebar__main__statistical main .head__main .container p {
    font-size: 20px;
    margin-right: 10px;
}

.container__sidebar__main__statistical main .head__main .container select {
    width: 80px;
    height: 25px;
    padding-left: 4px;
    font-size: 17px;
    background: gray;
    color: var(--primary-color-white);
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container__sidebar__main__statistical main .head__main button {
    width: 80px;
    height: 29px;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 35px;
}

.container__sidebar__main__statistical main .body__main__flex .column__name {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr 1.2fr 0.7fr 0.5fr;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 22px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
}

.container__sidebar__main__statistical main .body__main__flex .information {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr 1.2fr 0.7fr 0.5fr;
    border: 1px solid var(--primary-color-black);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

                        /* Page number */   
.container__sidebar__main__statistical .page__number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container__sidebar__main__statistical .page__number span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--primary-color-gray);
    cursor: pointer;
    transition: 0.25s;
}